div
    p
        h1 #{groupName}
    p #{greetings}
    p #{question}
    p
      div
        a(href='#{link}?vote=1', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width:50px; height:50px; background-color:#ff4056; margin-right:8px; border-radius: 2px;')
          div 1
        a(href='#{link}?vote=2', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width:50px; height:50px; background-color:#ff9959; margin-right:8px; border-radius: 2px;')
          div 2
        a(href='#{link}?vote=3', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width:50px; height:50px; background-color:#f2ea49; margin-right:8px; border-radius: 2px;')
          div 3
        a(href='#{link}?vote=4', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width:50px; height:50px; background-color:#358bd4; margin-right:8px; border-radius: 2px;')
          div 4
        a(href='#{link}?vote=5', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width:50px; height:50px; background-color:#52cc7b; margin-right:8px; border-radius: 2px;')
          div 5
    p #{thanks}